* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    min-width: 360px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #17171c;
    z-index: 3;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.hWrap {
    max-width: 1100px;
    margin: auto;
}

.hContent {
    width: 90%;
    margin: auto;
}

.hMenu {
/*    background: rgba(195, 90, 90, 0.33);*/
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 11px;
    justify-content: space-between;
}


.leftMenu {
/*    outline: 1px solid;*/
    height: 100%;
    width: 124px;
}

.leftMenu ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.leftMenu ul li {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
/*    outline: 1px solid;*/
    cursor: pointer;
}

.lib-ico svg use {
    fill: #fff;
}

.l-active svg use {
    fill: #4983E4;
    transition: 0.1s all;
}

.leftMenu ul li svg {
    width: 20px;
    height: 100%;
    fill: #c4c4c4;
    transition: 0.1s all;
/*    outline: 1px solid;*/
    pointer-events: none;
}



.logo {
/*    outline: 1px solid;*/
    width: 50px;
    height: 53px;
    background-image: url(../icons/favicon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 46px;
    cursor: pointer;
    position: absolute;
    left: calc(50% - 25px);
}

.rightMenu {
/*    outline: 1px solid;*/
    height: 100%;
    width: 78px;
    display: flex;
    justify-content: space-between
}

.rightMenu div {
/*    outline: 1px solid;*/
    height: 100%;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rightMenu div svg {
    fill: #ffffff;
    width: 19px;
    height: 100%;
}

.wrap {
/*    outline: 13px solid #ff6767;*/
/*    background-color: rgba(255, 0, 0, 0.06);*/
    padding: 18px 0;
    max-width: 1100px;
    margin: auto;
    min-width: 350px;
}

.content {
/*    width: 90%;*/
    width: calc(90%);
    min-width: 300px;
    height: 3380px;
/*    outline: 1px solid;*/
    margin: auto;
/*    background-color: #1d1d21;*/
/*    border-radius: 19px;*/
/*    outline: 1px solid;*/
    position: relative;
}


.tabWrap {
    width: 100%;
    height: 40px;
    background-color: #17171c;
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 8px;
    position: sticky;
    top: 63px;
    color: #9a9696;
}

.sort-btn {
    position: absolute;
    width: 46px;
    height: 100%;
/*    outline: 1px solid;*/
    right: 0px;
    top: 0;
    cursor: pointer;
}

.sort-ico {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(-1, 1);
    margin-left: -3px;
}

.sort-ico svg {
    fill: #fff;
    width: 19px;
    height: 100%;
}

.tabWrap {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tabWrap::-webkit-scrollbar {
    display: none;
}


.tabs {
    display: flex;
    justify-content: flex-start;
/*    position: relative;*/
    height: 100%;
}

.fix {
    height: 100%;
    width: 50px;
    opacity: 0;
    display: none;
}

.tabsFlex {
    position: relative;
    height: 100%;
/*    outline: 1px solid;*/
}

.tabs ul {
    list-style-type: none;
    margin: 0;
/*    padding: 0 13px;*/
    display: flex;
    padding: 0;
}

.tabs ul li {
    height: 100%;
/*    outline: 1px solid;*/
    padding: 1.0em 15px;
    cursor: pointer;
    transition: .1s color;
    font-size: 12px;
    overflow: hidden;
}

.active {
/*    color: #fc6666;*/
    color: #4983E4;
}

.line {
    width: 27px;
    height: 3px;
/*    background-color: #ff5c5c;*/
    background-color: #4983E4;
    position: absolute;
    bottom: 0;
/*    left: 24px;*/
    left: 12px;
    transition: 0.15s all;
    border-radius: 1px 1px 0 0;
}


.un-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mHeader {
    width: 100%;
    height: 82px;
    background-color: #17171c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}

.mhWrap {
/*    background-color: rgba(255, 0, 0, 0.04);*/
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
/*    padding: 0 17px;*/
    position: relative;
}

.mItem {
/*    outline: 1px solid;*/
}

.mSearchIcon {
    width: 58px;
    position: absolute;
/*    right: 6px;*/
    right: 0px;
    height: 50px;
    cursor: pointer;
}

.mSearch {
    width: 100%;
    height: 100%;
/*    outline: 1px solid;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#mSearchI {
    height: 50px;
    fill: #4983E4;
    width: 23px;
    margin-right: 19px;
}

.mLogo {
    width: 50px;
    position: absolute;
    left: 0px;
    height: 50px;
/*    outline: 1px solid;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mlogoSVG {
    width: 43px;
    height: 100%;
    background-image: url(../icons/favicon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
/*    outline: 1px solid;*/
    margin-left: 7px;
}

.title {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: -5px;
}


.page {
    width: 100%;
    margin-top: 83px;
    display: none;
    flex-flow: wrap;
    justify-content: space-between;
}

.page div {
    border-radius: 11px;
    margin-bottom: 13px;
    opacity: 0.6;
}

.test {
    height: 33px;
    background-color: #17171c;
}

.test-block {
    width: calc(50% - 8px);
    height: 100px;
    background-color: #17171c;
}

.foot-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #17171c;
    display: none;
}

.foot-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.foot-bar ul li {
/*    outline: 1px solid;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.foot-bar ul li svg {
    pointer-events: none;
    width: 26px;
    height: 100%;
    fill: #fff;
    
}

#f-user {
    width: 23px;
}

.f-active svg use {
    fill: #4983E4;
}


@media (max-width: 489px) {
    .content {
        width: 100%;
        padding: 0px 12px;
    }
    .mHeader {
        display: block;
    }
    .line {
        width: 36px;
        left: 12px;
    }
    .tabWrap {
        position: fixed;
        top: 50px;
        left: 0;
        border-radius: 0;
        height: 38px;
        margin: 0;
        z-index: 4;
/*        outline: 1px solid;*/
        padding: 0 0px;
    }
    .tabs ul li {
        padding: 0.2em 17px;
        font-size: 15px;
    }
    .header {
        display: none;
    }
    .fix {
        display: block;
    }
    .page {
        display: flex;
    }
    .sort-btn {
        display: none;
    }
    .foot-bar {
        display: block;
    }
}