* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html[theme="light"] {
    --box-bg-blured: rgba(255, 255, 255, 0.63);
    --box-bg: var(--box-bg-blured);
    --color: #000;
    --page-bg: #ffffff;
    --back-box: rgba(255, 255, 255, 0.47);
    --grey: #434343;
}

html[theme="dark"] {
    --box-bg-blured: rgba(15, 15, 15, 0.84);
    --box-bg-classic: #17171c;
    --box-bg: var(--box-bg-blured);
    --color: #ffffff;
    --page-bg: #000;
    --back-box: rgba(29, 29, 29, 0.38);
    --grey: #7c7c7c;
}

.blur {

}

body {
    background-color: var(--page-bg);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--color);
    min-width: 360px;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 50px;
    background-color: var(--box-bg);
    z-index: 3;
    position: fixed;
    top: 0;
    overflow: hidden;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

.hWrap {
    display: flex;
    justify-content: center;
}

.hContent {
    width: calc(90.0% + 18px);
    max-width: 1009px;
/*    outline: 1px solid;*/
}

.hMenu {
/*    background: rgba(195, 90, 90, 0.33);*/
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.leftMenu {
/*    outline: 1px solid;*/
    height: 100%;
    width: 124px;
/*    margin-left: -3px;*/
}

.leftMenu ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.leftMenu ul li {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.l-active svg use {
    fill: var(--color);
    transition: 0.1s all;
}

.leftMenu ul li {
/*    opacity: 0.8;*/
}

.leftMenu ul li svg {
    width: 20px;
    height: 100%;
    fill: var(--grey);
    transition: 0.1s all;
    pointer-events: none;
}



.logo {
    width: 50px;
    height: 53px;
/*
    background-image: url(../newlogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
*/
/*    outline: 1px solid #fff;*/
    cursor: pointer;
    position: absolute;
    left: calc(50% - 25px);
    display: flex;
    justify-content: center;
}

.logo svg {
    width: 31px;
    height: 100%;
    fill: var(--color);
    transition: all .1s;
}

.logo:hover > svg {
/*    fill: #381eff;*/
}

.rightMenu {
/*    outline: 1px solid;*/
    height: 100%;
    width: 78px;
    display: flex;
    justify-content: space-between
}

.rightMenu div {
/*    outline: 1px solid;*/
    height: 100%;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rightMenu div svg {
    fill: var(--color);
    width: 19px;
    height: 100%;
}

.wrap {
/*    outline: 13px solid #ff6767;*/
/*    background-color: rgba(255, 0, 0, 0.06);*/
    padding: 18px 0;
    max-width: 1100px;
    margin: auto;
    min-width: 350px;
}

.content {
/*    width: 90%;*/
    width: calc(90%);
    min-width: 300px;
/*    height: 3380px;*/
/*    outline: 1px solid;*/
    margin: auto;
/*    background-color: #1d1d21;*/
/*    border-radius: 19px;*/
/*    outline: 1px solid;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tabWrap {
    margin-top: 44px;
    width: calc(100.0% + 25px);
    max-width: 1017px;
/*    width: 100%;*/
    display: flex;
    justify-content: space-between;
}

.sort-btn {
/*    position: absolute;*/
    width: 36px;
/*    height: 100%;*/
/*    outline: 1px solid;*/
    height: 39px;
    cursor: pointer;
}

.sort-ico {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(-1, 1);
    margin-left: -3px;
}

.sort-ico svg {
    fill: var(--color);
    width: 19px;
    height: 100%;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.tabsFlex {
    position: relative;
    height: 100%;
}

.tabs ul {
    list-style-type: none;
    margin: 0;
/*    padding: 0 13px;*/
    display: flex;
    padding: 0;
}

.active {
/*    color: #fc6666;*/
/*    color: #4983E4;*/
    opacity: 1;
}

.tabs ul li {
    height: 100%;
/*    outline: 1px solid;*/
    padding: 1.0em 15px;
    cursor: pointer;
    transition: .1s color;
    font-size: 12px;
    overflow: hidden;
    opacity: 0.7;
}



.line {
    width: 27px;
    height: 3px;
    background-color: var(--color);
    position: absolute;
    bottom: 0;
    left: 12px;
    transition: 0.15s all;
    border-radius: 1px 1px 0 0;
}


.un-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.page {
    margin-top: 19px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
    grid-gap: 24px;
}

.page-item {
/*    margin-bottom: 22px;*/
    transition: all .1s;
}

.cover-wrap {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    user-select: none;
    position: relative;
    object-fit: cover;
}

.cover-block {
    width: 100%;
    display: flex;
}

.cover-block img {
    width: 100%;
    pointer-events: none;
}

.action-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s;
    background-color: rgba(224, 224, 224, 0.03);
}

.action-area:hover {
    background-color: rgba(28, 28, 28, 0.43);
}

.action-area:hover > .item-play-btn {
    opacity: 1;
}

.action-area:active {
    background-color: rgba(0, 0, 0, 0.54);
}

.item-play-btn {
    width: 53px;
    height: 53px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    opacity: 0;
    transition: all .1s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 60% 52%;
    background-size: 46%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-0.5 0 8 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Eplay %5B%231001%5D%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Dribbble-Light-Preview' transform='translate(-427.000000, -3765.000000)' fill='%23000000'%3E%3Cg id='icons' transform='translate(56.000000, 160.000000)'%3E%3Cpolygon id='play-%5B%231001%5D' points='371 3605 371 3613 378 3609'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.item-info {
    margin-top: 11px;
    text-transform: capitalize;
    padding: 0px 4px 0px 6px;
}

.item-info div span {
    cursor: pointer;
}

.item-info div span:hover {
    text-decoration: underline;
}

.title-item {
    font-size: 15px;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.artist-item {
    font-size: 13px;
    color: var(--grey);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.loader {
    opacity: 1;
    pointer-events: none;
    display: none;
}

.hide-page .loader {
    opacity: 0;
}

.foot-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
/*    background-color: var(--box-bg);*/
    backdrop-filter: blur(32px) saturate(39%) brightness(43%) contrast(95%);
    -webkit-backdrop-filter: blur(32px) saturate(39%) brightness(43%) contrast(95%);
    display: none;
    transition: 0.1s bottom;
}

html[theme="light"] .foot-bar {
    backdrop-filter: blur(52px) saturate(39%) brightness(222%) contrast(95%);
    -webkit-backdrop-filter: blur(52px) saturate(39%) brightness(222%) contrast(95%);
}

.fb-wrap {
    height: 50px;
}

.fb-wrap ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.fb-wrap ul li {
/*    outline: 1px solid;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
}

.fb-wrap ul li svg {
    pointer-events: none;
    width: 26px;
    height: 100%;
/*    fill: var(--color);*/
    fill: var(--grey);
/*    fill: #212121;*/
}

#f-user {
    width: 23px;
}

.f-active svg use {
/*    fill: #4983E4;*/
    fill: var(--color);
}

/*testing*/



@media (max-width: 489px) {
    .ios-iphonex .foot-bar {
        height: 68px;
    }
    .content {
        width: 100%;
        padding: 0px 12px;
    }
    .mHeader {
/*        display: flex;*/
    }
    .line {
        width: 0px;
        left: 16px;
        bottom: 7px;
    }
    .tabWrap {
        position: fixed;
        top: -105px;
/*        height: 105px;*/
        left: 0;
        border-radius: 0;
        height: 155px;
        margin: 0;
        z-index: 4;
/*        outline: 1px solid;*/
        padding: 0 0px;
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(32px) saturate(39%) brightness(43%) contrast(95%);
        -webkit-backdrop-filter: blur(32px) saturate(39%) brightness(43%) contrast(95%);
        display: flex;
        align-items: flex-end;
    }
    html[theme="light"] .tabWrap {
        backdrop-filter: blur(52px) saturate(39%) brightness(222%) contrast(95%);
        -webkit-backdrop-filter: blur(52px) saturate(39%) brightness(222%) contrast(95%);
    }
    .tabs {
/*        outline: 1px solid;*/
        width: 100%;
        height: 39px;
        display: flex;
        justify-content: center;
    }
    
    .tabs ul {
/*        outline: 2px solid;*/
/*        margin-left: 25px;*/
    }
    
    .tabs ul li {
        padding: 0.2em 17px;
        font-size: 15px;
/*        outline: 1px solid;*/
        height: 38px;
    }
    .header {
        display: none;
    }
    .fix {
        display: none;
    }
    .page {
/*        justify-content: space-between;*/
        padding: 0;
        margin-top: 44px;
        margin-bottom: 50px;
        grid-gap: 13px;
    }
    .item-info {
        margin-top: 7px;
    }
    .sort-btn {
        display: none;
    }
    .foot-bar {
        display: block;
    }
    .black-fix {
        display: none;
    }
    .test-block {
        width: calc(50% - 6px);
    }
}

@media (max-width: 553px) {
    .test-block {
        margin: 0 0px 13px 0px;
    }
}

@media (min-width: 859px) {
    .test-block {
        width: 240px;
    }
}

@media (min-width: 700px) {
    .test-block {
        transform: scale(0.9);
        margin: 0;
    }
}

@media (min-width: 1100px) {
    .tabWrap {
        width: 1026px;
        left: calc(50% - 515px);
    }
}






